{% extends "mgcapp/layout.html" %}

{% load static %}
{% load bootstrap5 %}
{% block title %}

{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="media/logo_data_science.png" alt="logo">
      </div>
      <div class="col-6">
        <h1 class="display-4">GOT the beat</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <ul>
          {% for obj in documents %}
              <div class="col-3 bg-light p-3 rounded-5 center">
                <a>{{ obj.description}}</a>
              </div>
              <div class="col-sm-9 bg-light p-3 rounded-5">
                <audio controls="" name="media"><source src="{{obj.document.url}}" type="audio/x-wav" autostart="false"></audio>
              </div>
          {% endfor %}
        </ul>
      </div>
      <div class="col">
      </div>
    </div>
  </div>


{% endblock %}