
<!-- GenRec by "The Smash Group" - TU Darmstadt, Data Science 2, WiSe 2022/23 -->
<!-- HTML-File for Layout of the Webserver  -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>

<body>
<!-- Navigation Bar to switch between uploading a file and the homepage-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse justify-content-center" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="{% url 'home' %}" class="nav-link">Music Genre Classification<span class="sr-only"></span></a>
            </li>
             <li class="nav-item">
                <a href="{% url 'upload' %}" class="nav-link">Upload file</a>
            </li>
        </ul>
    </div>
</nav>
<h1></h1>

<!-- Footer to display the Group Name and the Date-->
<div class="body-content">
    {% block content %}
    {% endblock %}
    
    <div class="navbar fixed-bottom">
        <footer>
            <p>    GenRec - The Smash Group © 2022</p>
        </footer>
    </div>
</div>
</body>
</html>
