<!-- GenRec by "The Smash Group" - TU Darmstadt, Data Science 2, WiSe 2022/23 -->
<!-- HTML-File for Recommender-Function (best similarity and worst similarity)  -->

{% extends "mgcapp/layout.html" %}

{% load static %}
{% load bootstrap5 %}
{% block title %}

{% endblock %}
{% block content %}
<div class="container text-left">
  <div class="row">
    <!-- Display Logo of Data Science Project on the left side -->
    <div class="col">
      <img src="media/logo_data_science.png" alt="logo" width="300">
    </div>
    <div class="col-9">
      <h1 class="display-4 "> &nbsp; GenRec - Recommender </h1>
      <br>
      <!-- Display the songame and prediction if a file is in the message-->
      <ul>
        {% if document %}
        <div class="col-sm-9 bg-light p-3 rounded-5">
          <b>Songname: &nbsp;</b>{{ document.name}}<br>
          <b>Prediction: &nbsp;</b>{{ document.prediction}}
        </div>
        <div class="col-sm-9 bg-light p-3 rounded-5">
          <audio controls="" name="media" style="width: 600px">
            <source src="{{document.document.url}}" type="audio/x-wav" autostart="false">
          </audio>
        </div>
        {% endif %}

      </ul>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <!-- If this page should show the worst fitting songs one can direct to the discommender page via a button -->
    {% if not discommender %}
    <p>Not the right music for you? Click on the button to get totally different music: </p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3" align="center">
        <button type="submit" class="btn btn-primary" name="type" value="get-worst">Get least similar Song's</button>
      </div>
      {% endif %}
      <!-- Here the introduction to the recommender text is displayed-->
      <p>
      <pre><b>{{ recommendation_text }}</b></pre>
      </p>
      <pre>
    <!--  show and play similar/worst similar songs/songsnames -->
    {% for names,files in songfiles %}
    
    <b>{{ names }}</b>
  
    <audio controls="" name="media" style="width: 400px">
      <source src="{{files}}" type="audio/x-wav" autostart="false">
    </audio>
    {% endfor %}
  </pre>
  </div>

  <div class="col">
  </div>
</div>
</div>


{% endblock %}