
<!-- GenRec by "The Smash Group" - TU Darmstadt, Data Science 2, WiSe 2022/23 -->
<!-- HTML-File for Upload of Songs to the Webserver  -->

{% extends "mgcapp/layout.html" %}

{% load static %}
{% load bootstrap5 %}
{% block title %}

{% endblock %}
{% block content %}
<div class="container text-center">
  <div class="row">
    <!-- Display Logo of Data Science Project on the left side -->
    <div class="col">
      <img src="media/logo_data_science.png" alt="logo">
    </div>
    <div class="col-6">
      <!-- Create Upload Form as HTTP-Post where the Song Files can be inserted-->
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if not uploaded_file_url %}
        <div class="mb-3" align="center">
          <label for="formFile" class="form-label">Input your file</label>
          <input class="form-control" type="file" id="formFile" name="myfile">
        </div>
        <div class="mb-3" align="center">
          <button type="submit" class="btn btn-primary" name="type" value="file">Upload</button>
        </div>
        {% endif %}
        <!-- If a song is selected a Button for the prediction is displayed-->
        {% if uploaded_file_url %}
        <p><b>File uploaded! ATTENTION: Prediction takes some time! </b></p>
        
        <div class="mb-3" align="center">
          <button type="submit" class="btn btn-primary" name="type" value="genre">Get predicted Genre</button>
        </div>

        {% endif %}
        
        <!-- Display Error Code if Format Error of Song occures-->
        {% if format_error %}
        <p>
        <pre><b>{{ format_error }}</b></pre>
        </p>
        {% endif %}
        <!-- Button to navigate back to the home-page-->
        <p><a href="{% url 'home' %}">Return to home</a></p>
    </div>
    <div class="col">
    </div>
  </div>
</div>

{% endblock %}